song-splitter/
musdb18/
experiments.py
.venv/
.DS_Store
experiements.ipynb
__pycache__/
ffmpeg-4.4.1-amd64-static/
ffmpeg-7.0.1-amd64-static/
processed_stems/
song_splitter_model.pth
ffmpeg-7.0.2-amd64-static/
separated_stems/
ffmpeg-release-amd64-static.tar.xz